.logo{
  cursor:pointer;
}
.create-product{
  border-radius: 50px;
  font-size: 20px;
  color: #fff;
  background-color: rgb(247, 116, 116);
  border: none;
}
.create-product:hover{
  color: rgb(33, 25, 25);
  background-color: rgb(247, 116, 116);
}
