<div class="container-fluid">
  <div class="row">
    <div *ngFor="let product of products" class="col-sm-12 col-md-4 col-lg-2 mb-3">
      <div class="card" (click)="detailsItem(product.id_product)">
        <div class="product-img" >
          <img class="img-bg" src="{{product.principal_img}}" alt="">
        </div>
        <div class="title">
          <label>{{product.nm_product}}</label>
        </div>
        <div class="price">
          <label class="promotional-price mr-3">R${{product.promocional_price}}</label>
          <label class="original-price">R${{product.price}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
